version: "3.8"
services:
  web:
    image: php:8.2-apache
    ports:
      - "8080:80"

  db:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
